# Coursework 1 - Decision Trees Learning and K-Nearest Neighbors

### Candidate number: 056345

## Summary

Develop a machine learning classifier for predicting female patients at high risk of Diabetes.

## Dataset

The dataset has 9 attributes in total, including the “target/label” attribute.

1. preg: Number of times pregnant
2. plas: Plasma glucose concentration a 2 hours in an oral glucose tolerance test
3. pres: Diastolic blood pressure (mm Hg)
4. skin: Triceps skin fold thickness (mm)
5. insu: 2-Hour serum insulin (mu U/ml)
6. mass: Body mass index (weight in kg/(height in m)^2)
7. pedi: Diabetes pedigree function
8. age: Age (years)
9. class: Class variable (0 or 1)

In [1]:
import pandas as pd


# Loads the full dataset, with attributes are separated by ','.
dia_all = pd.read_csv("data/diabetes.txt")

In [2]:
dia_all.head(10)

   preg   plas   pres   skin   insu   mass   pedi   age            class
0     6    148     72     35      0   33.6  0.627    50  tested_positive
1     1     85     66     29      0   26.6  0.351    31  tested_negative
2     8    183     64      0      0   23.3  0.672    32  tested_positive
3     1     89     66     23     94   28.1  0.167    21  tested_negative
4     0    137     40     35    168   43.1  2.288    33  tested_positive
5     5    116     74      0      0   25.6  0.201    30  tested_negative
6     3     78     50     32     88   31.0  0.248    26  tested_positive
7    10    115      0      0      0   35.3  0.134    29  tested_negative
8     2    197     70     45    543   30.5  0.158    53  tested_positive
9     8    125     96      0      0    0.0  0.232    54  tested_positive

## Seperate the inpout (attributes) from target (label)

In [3]:
sourcevars = dia_all.iloc[:,:-1] #all rows + all columns except the last one
targetvar = dia_all.iloc[:,-1:] #all rows + only the last column

In [4]:
sourcevars.head()

   preg   plas   pres   skin   insu   mass   pedi   age
0     6    148     72     35      0   33.6  0.627    50
1     1     85     66     29      0   26.6  0.351    31
2     8    183     64      0      0   23.3  0.672    32
3     1     89     66     23     94   28.1  0.167    21
4     0    137     40     35    168   43.1  2.288    33

In [5]:
targetvar.head()

             class
0  tested_positive
1  tested_negative
2  tested_positive
3  tested_negative
4  tested_positive

# Your answers
Please clearly highlight each task.

   # Taks 1 [task name]

In [6]:
#your code here

# Task 2 [.....]

In [7]:
# your code here ..... and so on

# Reflection

write your reflection here